body {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(150px, auto)/1fr;
  padding: 0;
}

.fullscreen {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1 1 auto;
}

.fullscreen__body {
  background-color: rgba(0, 0, 0, 0.85);
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.fullscreen__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fullscreen__menu {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 10%;
  align-items: center;
}
.fullscreen__menu .menu__logo {
  width: 30%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.fullscreen__menu .menu__logo .logo__title {
  max-width: 150px;
  height: 50px;
  position: relative;
}
.fullscreen__menu .menu__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.menu {
  width: 70%;
  text-align: end;
}
.menu .menu__items {
  padding: 0;
  margin: 0;
}
.menu .menu__items li {
  color: white;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 0;
}
.menu .menu__items li a {
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
}
.menu .menu__items li a:not(.menu__link_first) {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: white;
}
.menu .menu__items li a:not(.menu__link_first):hover {
  color: #6b5e48;
  font-weight: bold;
}

@media (max-width: 415px) {
  .fullscreen__menu {
    flex-direction: column;
  }
  .fullscreen__menu .menu {
    width: 100%;
    text-align: center;
  }
}
.menu__link_first {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: #d6bc91;
}
.menu__link_first:hover {
  color: #6b5e48;
  font-weight: bold;
}

.fullscreen__item {
  letter-spacing: 5px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  display: grid;
  height: 100%;
  justify-items: center;
  align-items: center;
  margin: 10% 0 0 0;
}
.fullscreen__item .fullscreen__items {
  letter-spacing: 5px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  display: grid;
  grid-auto-flow: row;
  grid-template: minmax(100px, 50%) minmax(50px, 15%) minmax(50px, auto)/1fr;
  z-index: 2;
  height: 70%;
  justify-items: center;
  margin: 0 10%;
}
.fullscreen__item .fullscreen__items .item__title {
  padding: 0 0 50px 0;
  text-align: center;
  text-transform: uppercase;
  align-items: end;
  font-size: calc(30px + 20 * ((100vw - 320px) / 1600));
}
.fullscreen__item .item__text {
  text-align: center;
  align-items: center;
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
}
.fullscreen__item .item__button {
  min-width: 165px;
}
.fullscreen__item .item__button .button {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  border-radius: 3px;
  text-decoration: none;
  border: 1px solid #999999;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 3% 0;
  width: 100%;
}
.fullscreen__item .item__button .button:hover {
  background-color: #6b5e48;
}

.main {
  position: relative;
  background-color: #000;
  color: white;
  z-index: 2;
}
.main p {
  margin: 0;
  padding: 0;
}

.advantages {
  display: grid;
  min-height: 100vh;
  grid-template: minmax(30px, 15%) minmax(100px, auto)/1fr;
  justify-content: center;
  align-items: center;
}

.advantages__title {
  letter-spacing: 5px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  font-size: calc(18px + 12 * ((100vw - 320px) / 1600));
  text-align: center;
}

.advantages__items {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  height: 100%;
  align-items: center;
  gap: calc(10px + 20 * ((100vw - 320px) / 1600));
}

.advantages__img {
  position: relative;
  height: 100%;
}
.advantages__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advantages__text {
  font-size: calc(12px + 13 * ((100vw - 320px) / 1600));
  letter-spacing: 3px;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .advantages__items {
    grid-template: repeat(3, 1fr)/1fr 1fr;
  }
}
@media (max-width: 480px) {
  .advantages {
    grid-template: minmax(30px, 5%) minmax(100px, 250vh)/1fr;
  }

  .advantages__items {
    grid-template: minmax(30px, 1fr) minmax(30px, 10%) minmax(30px, 1fr) minmax(30px, 10%) minmax(30px, 1fr) minmax(30px, 10%)/1fr;
  }
}

/*# sourceMappingURL=style.css.map */
